doctype html5

html
  head
    title= "GESYCO | Propuesta a clientes"
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/font-awesome/css/font-awesome.min.css')
  body
    div.container
      div.logo
        img(src='img/gesyco_logo.png')

      div.recipient
        p Señores:
        p= empresa
        p Atención: 
          span= contacto
        p Presente

      div.text-block
        p Respetables señores:
        p Es un gusto dirigirnos a ustedes mediante la presente para presentar y poner a sus órdenes nuestra representada, Gestiones Especiales y Cobros, S. A.  Empresa que dentro de sus actividades principales se encuentra la recuperación, administración y  gestión tanto administrativa como judicial de carteras en mora y todo lo relacionado con los problemas generales de recuperación y ubicación de sus cuentas en mora.

      div.text-block
        p Estamos seguros que nuestra empresa mediante su experiencia y personal calificado pueden apoyar y generar resultados positivos en cuanto a recuperación, y con esto ayudar a resolver los problemas que le representan sus cuentas en mora que por una u otra razón no ha sido posible recuperar.

      div.title-block
        span.fa.fa-gears.fa-2x  Nuestra gestión le ofrece los siguientes beneficios:

      div.text-block
        div.ul-block
          table
            tr
              td
                span.fa.fa-check-circle
              td
                p Inicio de gestión de cobro de manera inmediata
            tr
              td
                span.fa.fa-check-circle
              td
                p Personal capacitado y experimentado en el cobro de carteras
            tr
              td
                span.fa.fa-check-circle
              td
                p Investigación completa de deudores, fiadores, referencias y cualquier otra persona relacionada con la cuenta en mora
            tr
              td
                span.fa.fa-check-circle
              td
                p En nuestra investigacion complementamos la informacion recibida de la cuenta para su ubicación en un futuro
            tr
              td
                span.fa.fa-check-circle
              td
                p Ubicación de personas ilocalizadas, mediante sistema que garantiza resultados positivos
            tr
              td
                span.fa.fa-check-circle
              td
                p Instalaciones adecuadas para la atencion de sus cuentas, contamos con salas de reuniones y  atencion a deudores
            tr
              td
                span.fa.fa-check-circle
              td
                p Gestión de cobro telefonico, fisico (direcciones registradas e investigadas) via correspondencia
            tr
              td
                span.fa.fa-check-circle
              td
                p Asesoría legal en sus cuentas
            tr
              td
                span.fa.fa-check-circle
              td
                p Presentar la respectiva demanda según sea autorizado cada caso
            tr
              td
                span.fa.fa-check-circle
              td
                p Informes completos programados

      div.title-block
        span.fa.fa-money.fa-2x  Costos de gestion y recuperacion en instancia administrativa

      div.text-block
        p Nuestra gestion de cobro administrativo inicia desde la asignacion de cada cuenta y la misma concluye con la recuperacion de la cuenta en esta instancia y si no se ingresa el pago,  se documentara la gestion realizada desde el primer dia al ultimo trabajado y quedara a discresion de la entidad acreedora su ejecucion por la via judicial;  los rubros que cubrimos en dicha gestion son los siguientes:

        div.ul-block
          table
            tr
              td
                span.fa.fa-check-circle
              td
                p Visitas fisicas en todos los casos mismas que garantizan la ubicación y resultados positivos en la recuperacion
            tr
              td
                span.fa.fa-check-circle
              td
                p Contacto directo con deudor tomando en cuenta la informacion inicial trasladada a nuestra empresa
            tr
              td
                span.fa.fa-check-circle
              td
                p Investigacion general de el perfil de deudor, fiador, representantes legales,  socios y familiares de estos (e.g. histórico de domicilios, histórico de teléfonos, histórico de trabajos)
            tr
              td
                span.fa.fa-check-circle
              td
                p Investigacion de bienes
            tr
              td
                span.fa.fa-check-circle
              td
                p Investigacion de vehiculos
            tr
              td
                span.fa.fa-check-circle
              td
                p Investigacion fisica de direcciones tanto personales como de empresas contacto telefonico a relacionados contacto via visitas fisicas a relacionados
            tr
              td
                span.fa.fa-check-circle
              td
                p Envio de correspondencia (con diferente script según el nivel de gestión) ubicación de referencias, familiares
            tr
              td
                span.fa.fa-check-circle
              td
                p Todo esto elaborado bajo estricta supervision y los contactos realizados por abogados colegiados activos

      div.text-block
        p Costo porcentual por montos recuperados a partir de la asignacion de la cuenta para cobro administrativo 15% + IVA sobre los montos recuperados durante el proceso o al final del mismo, pudiendo ser la recuperacion en quetzales o por medio de bienes con previa autorizacion de la entidad acreedora (GES&CO se hace cargo de los gastos que genere la gestión y seguimiento de cada cuenta, visitas, correspondencia, gestión administrativa, investigaciones, etc.) No así los gastos que generen los tramites de bienes aceptados en pago.

      div.text-block
        p Es conveniente evaluar los casos de su cartera que están generándole problemas y de esta manera determinar forma y tiempo aproximado de recuperación y adicional plantearle otros beneficios relacionados con el tema.

      div.text-block
        p Con la seguridad de poder apoyarle y generarle resultados positivos, quedamos a sus respetables órdenes.

      div.text-block
        p Atentamente,

      div.signature
        img(src='img/firma_ronald.png')

      div.credits-ronald
        p.ronald Ronald Donis
        p Gerente General
        p GES&CO

      div.title-block
        span.fa.fa-bank.fa-2x  Algunos de nuestros clientes satisfechos

      div.client-logos
        img(src='img/client_logos1.jpg')
        img(src='img/client_logos2.jpg')
        img(src='img/client_logos3.jpg')
        img(src='img/client_logos4.jpg')
        img(src='img/client_logos5.jpg')
        img(src='img/client_logos6.jpg')
        img(src='img/client_logos7.jpg')
        img(src='img/client_logos8.jpg')
        img(src='img/client_logos9.jpg')
        img(src='img/client_logos10.jpg')
        img(src='img/client_logos11.jpg')

      div.footer
        img(src='img/footer.jpg')
